@import url('https://fonts.googleapis.com/css?family=Courgette');

html {
	height : 100%;
	background: -moz-linear-gradient(45deg, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 52%, rgba(204,204,204,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(204,204,204,1)), color-stop(52%, rgba(255,255,255,1)), color-stop(100%, rgba(204,204,204,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(45deg, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 52%, rgba(204,204,204,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(45deg, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 52%, rgba(204,204,204,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 52%, rgba(204,204,204,1) 100%); /* ie10+ */
	background: linear-gradient(45deg, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 52%, rgba(204,204,204,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CCCCCC', endColorstr='#CCCCCC',GradientType=1 ); /* ie6-9 */
	
}

h1 {
	text-align: center;
	font-size : 6vw;
	text-decoration: underline;
	/*color : firebrick;*/
	color : black;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;	
	font-family : 'Courgette', sans-serif;
	font-weight : normal;
}

.circles {
	margin-top : 5%;
}
.pic_container{
    float:left;
    position: relative;
    width: 10%;
    margin:4% 4% 1% 5%;
}
.circle {
    margin-top: 100%;
}

.circle2{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background : url('pic/development.jpg') no-repeat;
    background-size : 100% 100%;
    box-shadow : 2px 2px 15px;
    border-radius: 50%;
}
.circle1{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background : url('pic/layout.jpg') no-repeat;
    background-size : 100% 100%;
    box-shadow : 2px 2px 15px;
    border-radius: 50%;
}
.circle3{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background : url('pic/widget.png') no-repeat;
    background-size : 100% 100%;
    box-shadow : 2px 2px 15px;
    border-radius: 50%;
}
.circle4{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background : url('pic/questions.jpg') no-repeat;
    background-size : 100% 100%;
    box-shadow : 2px 2px 15px;
    border-radius: 50%;
}
.circle5{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background : url('pic/analysis.png') no-repeat;
    background-size : 100% 100%;
    box-shadow : 2px 2px 15px;
    border-radius: 50%;
}
.text_container_layout{
    float:left;
    position: relative;
    width: 12%;
    margin: 2% 3% 1% 4%;
    text-align : center;
    font-family : "Brush Script Std", "Lucida Calligraphy", "Lucida Handwriting", "Apple Chancery", cursive;
}
.text_container_dev{
    float:left;
    position: relative;
    width: 15%;
    margin: 2% 1.5% 1% 2.5%;
    text-align : center;
    font-family : "Brush Script Std", "Lucida Calligraphy", "Lucida Handwriting", "Apple Chancery", cursive;
}
.text_container{
    float:left;
    position: relative;
    width: 12%;
    margin: 2% 3% 1% 4%;
    text-align : center;
    font-family : "Brush Script Std", "Lucida Calligraphy", "Lucida Handwriting", "Apple Chancery", cursive;
}

a{
	text-decoration : none;
	font-size : 1.8vw;
}
a:link{
	color : darkred;
}
a:visited {
	color : darkblue;
}
a:hover{
	color : #ffa366;
	font-size : 2.2vw;
}