/* removes padding that causes unnecessary scroll*/
.ui-page-footer-fixed{
	padding-bottom:0px;
}


/* from qcore/clicker.css - work out css for bootstrap */
.gameId{
	font-family:"Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
	letter-spacing:1px;
	text-shadow:none;
}
#submitBtn{
    width:100% !important;
    height:100px;
    font-size:30px !important;
    text-shadow:none !important;
    margin:5px auto;
}
